# Redis Configuration
UPSTASH_REDIS_REST_URL=your-redis-reset-url
UPSTASH_REDIS_REST_TOKEN=your-redis-token

# Database Configuration
DATABASE_URL=your-psql-database-url
JWT_SECRET=your-secret-key

# Email Configuration
RESEND_API_KEY=your-rensend-api-key

# Payment Gateway
STRIPE_SECRET_KEY=your-stripe-secret-key-here
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your-stripe-publishable-key-here
STRIPE_WEBHOOK_SECRET=your-strip-webhook

# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000
